<!DOCTYPE html>
<html>
<head>
  <title>Actfolio</title>
  <meta charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Calligraffitti|Gothic+A1" rel="stylesheet">
  <link rel="stylesheet" href="../Content/css/style.css">
  <link rel="stylesheet" href="../Content/css/detail.css">
  <link rel="stylesheet" type="text/css" href="../Content/css/libs/magnific-popup.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
</head>
<body>
  <!-- Header --><!-- Header --><!-- Header --><!-- Header --><!-- Header -->
  <section class="header text-center">
    <div class="container">
     <ul class="nav justify-content-center">
       <li class="nav-item">
        <a href="./index.html"><h1 class="logo">Actfoilo</h1></a>
      </li>
    </ul>
  </div>
</section>
<!-- Header --><!-- Header --><!-- Header --><!-- Header --><!-- Header -->
<div class="wrap-content mt-5">
      <div class="container">
        <div class="project">
          <div class="row">
            <div class="col-lg-6">
              <div class="project-inner">
                <h2 class="title">박보영<edge> 배우님</edge></h2>
                <!-- The Content -->
                <div class="the-content">
                  <p>
                    안녕하세요. 10년차 배우 박보영입니다. 
                  </p>
                  <p>
                    Ut ut justo facilisis, vulputate augue vel, vestibulum tortor. Nullam varius lacus non porttitor sodales. Vivamus ultricies est vitae pharetra convallis.
                  </p>
                </div>
                <!-- End Content -->
                <div class="project-attributes">
                  <table>
                    <tbody>
                    <tr>
                      <td class="name">Client</td>
                      <td class="value">
                        <a href="http://kendytheme.net">Royal Building</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="name">Year</td>
                      <td class="value">07/2016</td>
                    </tr>
                    <tr>
                      <td class="name">Location</td>
                      <td class="value">NewYork City , USA</td>
                    </tr>
                    <tr>
                      <td class="name">Budget</td>
                      <td class="value">$10.000,00</td>
                    </tr>
                    <tr>
                      <td class="name">Category</td>
                      <td class="value">Branding Design</td>
                    </tr>
                    <tr>
                      <td class="name">Like</td>
                      <td class="value"><i class="zmdi zmdi-favorite"></i> <span class="number-like">108</span></td>
                    </tr>
                    <tr>
                      <td class="name">Share</td>
                      <td class="value">
                        <div class="socials">
                          <div class="kd-sharing-post-social">
                            <a href="#" class="zmdi zmdi-behance" title="Behance" target="blank"></a>
                            <a href="#" class="zmdi zmdi-dribbble" title="Dribbble" target="blank"></a>
                            <a href="#" class="zmdi zmdi-facebook" title="Facebook" target="blank"></a>
                            <a href="#" class="zmdi zmdi-google" title="Google Plus" target="blank"></a>
                            <a href="#" class="zmdi zmdi-twitter" title="Twitter" target="blank"></a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/SekR9fXy6gA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <div class="images-project grids-layout">
                <div class="project-item-sizer"></div> 
                <div class="row mt-3">
                  <div class="col-md-6">
                    <a href="../Content/images/project/1.jpg" class="popup">
                      <img class="w-100 mb-5" src="../Content/images/project/1.jpg" alt="Image_1">
                    </a>
                    <a href="../Content/images/project/2.jpg" class="popup">
                      <img class="w-100 mb-5" src="../Content/images/project/2.jpg" alt="Image_2">
                    </a>
                    <a href="../Content/images/project/3.jpg" class="popup">
                      <img class="w-100 mb-5" src="../Content/images/project/3.jpg" alt="Image_3">
                    </a>
                  </div>
                  <div class="col-md-6">
                      <a href="../Content/images/project/4.jpg" class="popup">
                      <img class="w-100 mb-5" src="../Content/images/project/4.jpg" alt="Image_4">
                    </a>
                    <a href="../Content/images/project/5.jpg" class="popup">
                      <img class="w-100 mb-5" src="../Content/images/project/5.jpg" alt="Image_5">
                    </a>
                    <a href="../Content/images/project/6.jpg" class="popup">
                      <img class="w-100 mb-5" src="../Content/images/project/6.jpg" alt="Image_6">
                    </a>
                  </div>
                </div>
              </div>
              <!-- Navigation -->
              <div class="row mt-3">
                <nav class="m-auto" aria-label="...">
                  <ul class="pagination pagination-lg">
                    <li class="page-item"><a class="page-link" href="#"><i class="fas fa-arrow-left"></i></a></li>
                    <li class="page-item"><a class="page-link" href="./list.html"><i class="fas fa-th"></i></a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="fas fa-arrow-right"></i></a></li>
                  </ul>
                </nav>
              </div>
              <!-- End Navigation -->
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Footer --><!-- Footer --><!-- Footer --><!-- Footer --><!-- Footer -->
<footer>
  <div class="footer_copy">
    <div class="col-lg-12 text-center">
      <div class="footer-top">
        <ul>
          <li><a class="mr-3" href="/skin/page/company01.html">회사소개</a></li>
          <li><a class="mr-3" href="/skin/page/service01.html">서비스소개</a></li>
          <li><a class="mr-3" href="/bbs/bbs/?bbs_no=9">개인정보 및 약관</a></li>
          <li><a href="/bbs/bbs/?bbs_no=7">고객센터</a></li>
        </ul>
      </div>
      <div class="footer-middle">
        <ul>
          <li>대한민국 모든 배우님들을 응원합니다!</li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>By Actfolio. All Rights Reserved.</p>
      </div><br>    </div>
    </div>
  </footer>
  <!-- Footer --><!-- Footer --><!-- Footer --><!-- Footer --><!-- Footer -->
  <script src="../Content/js/detail.js"></script>
  <script src="../Content/js/libs/jquery.magnific-popup.js"></script>

</body>
</html>
